<%- include('../partials/header') %>
<% let cnt = 0; %> 
<h1><%= game.name %></h1>
<img src="<%= thumb %>" />
<h3><%= game.summary %></h3>
<div class="container-fluid">
  <h2>Reviews</h2>
  <% reviews.forEach(r => { %>
  <% if(user._id.equals(r.user)) {cnt++} %> 
  <% }) %>
  <% if (user && cnt < 1) { %>
  <form
    class="mb-3"
    id="add-review-form"
    method="POST"
    action="/games/<%=apiId%>/review"
  >
    <label class="form-label">Review:</label>
    <textarea class="form-control" name="review"></textarea>
    <label class="form-label">Rating:</label>
    <select class="form-select" name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input class="btn btn-dark" type="submit" value="Add Review" />
  </form>
</div>
<% } %> <% if (reviews.length) { %>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Review</th>
      <th scope="col">Rating</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% reviews.forEach(function(r) { %>
    <tr>
      <td><%= r.userName %></td>
      <td><%= r.review %></td>
      <td><%= r.rating %></td>
      <td>
        <% if (user && user._id.equals(r.user)) { %>
        <form action="/review/<%= r._id %>/edit" method="GET">
          <button class="btn btn-light" type="submit">E</button>
        </form>
        <% } %>
      </td>
      <td>
        <% if (user && user._id.equals(r.user)) { %>
          <form action="/review/<%=r._id%>?_method=DELETE" 
            method="POST">
          <button class="btn btn-light" type="submit">X</button>
          </form>
          <% } %>
      </td>
      <% }); %>
    </tr>
  </tbody>
</table>
<% } else { %>
<h5>No Reviews Yet</h5>
<% } %> <%- include('../partials/footer') %>
